<div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
    <div class="container-fluid">
      <table>
        <% if (dangGiao.length > 0) { %>
        <% dangGiao.forEach(function(dangGiao, index) { %>  
        <tr style="width: 100%; border-bottom: 20px solid rgb(245, 245, 245);">   

            <td style="width: 200px; background-color: white; ">
                <div style="background-color: rgb(255, 255, 255); ">
                    <img width="180" height="200" src="images/upload/<%= getRelativeImagePath(dangGiao.cart.items[0].productId.Image) %>" alt="">
                </div>
            </td>
            <td style="width: 560px; background-color: white;">                    
                    <p style="font-weight: bold; font-size: 22px; color: black;">
                        <a style="color: navy;" href="/ctsp?idCTSP=<%= dangGiao.cart.items[0].productId._id %>"><%= dangGiao.cart.items[0].productId.TenSP %></a>
                    </p>
                    
                    <% if (dangGiao.cart.items.length > 1) { %>
                        <p style="font-size: 16px;color: rgb(80, 80, 80);">và <%= dangGiao.cart.items.length - 1 %> sản phẩm khác</p>
                    <% } %>

                    <% if (dangGiao.TinhTrangDonHang == 'Chưa giao hàng') { %>
                    <span style="
                        background-color: rgb(255, 234, 234);                                             
                        padding: 8px 10px;
                        width: 190px;
                        border: none;
                        font-size: 16px;
                        color: rgb(255, 0, 0);                            
                    "class="text-danger ">
                        <i data-status="pending" class="fas fa-shopping-cart" style="font-size: 16px; color: rgb(22, 15, 1);"></i>
                        &nbsp;
                        <%= dangGiao.TinhTrangDonHang %>
                    </span>

                    <% } else if (dangGiao.TinhTrangDonHang == 'Đang giao hàng') { %>
                    <span style="
                        background-color: rgb(255, 217, 0);                                             
                        padding: 5px 10px;
                        width: 170px;
                        border: 2px solid rgb(255, 217, 0);
                        font-size: 16px;
                        color: black;
                ">
                    <i data-status="shipping" class="fas fa-truck" style="font-size: 16px; color: rgb(0, 0, 0);"></i>
                    &nbsp;
                    <%= dangGiao.TinhTrangDonHang %>
                    </span>

                    <% } else { %>
                    <span style="
                            background-color: rgb(209, 255, 209);                                             
                            padding: 5px 10px;
                            width: 150px;
                            border: 2px solid  rgb(209, 255, 209);
                            font-size: 16px;
                            color: rgb(0, 128, 9);
                    ">
                        <i data-status="delivered" class="fas fa-check-circle" style="font-size: 16px; color: rgb(0, 0, 0);"></i>
                        &nbsp;
                        <%= dangGiao.TinhTrangDonHang %>
                    </span>

                    <% } %>                        

                    &nbsp; &&
                    <% if (dangGiao.TinhTrangThanhToan == 'Chưa Thanh Toán') { %>
                    <span style=" padding: 10px 0 0 10px;                                                                               
                        border: 1px solid red;
                        color: red;
                        border: none;
                        font-size: 17px;
                        text-decoration: underline;
                        font-style: italic;
                    ">                          
                      <%= dangGiao.TinhTrangThanhToan %>
                    </span>

                    <% } else { %>
                    <span style=" 
                        padding: 10px 0 0 10px;                                                                                                                           
                        color: rgb(18, 190, 32);
                        border: none;
                        font-size: 17px;
                        text-decoration: underline;
                        font-style: italic;
                    ">
                        <%= dangGiao.TinhTrangThanhToan %>
                    </span>

                    <% } %>
                    
                    
                <p style="font-weight: bold; font-size: 20px; color: rgb(255, 0, 0); position: relative;top: 10px; left: 30px;">
                    <%= formatCurrency( dangGiao.cart.items[0].productId.GiaBan * dangGiao.cart.items[0].qty ) %>
                </p>
               
            </td>
            <td style="width: 380px; background-color: white;">
                <div style="position: relative; top: 60px; float: right; right: 20px;">
                    <% if (dangGiao.TinhTrangDonHang == 'Chưa giao hàng' || dangGiao.TinhTrangDonHang == 'Đang giao hàng') { %>
                        <!-- Code to execute when condition1 is true -->
                        <form action="/huy-don-hang" method="get" style="display: inline-block; margin-left: 10px;">
                            <input type="hidden" name="huydonhang" value="<%= dangGiao._id %>">
                            <button type="submit" class="btn btn-danger">Hủy đơn hàng</button>
                        </form>
                    <% } else { %>
                        <!-- Code to execute when none of the conditions are true -->
                    <% } %>   
                    <a href="/chi-tiet-dh?xemcthd=<%= dangGiao._id %>" class="btn btn-success" style="display: inline-block;">Xem chi tiết hóa đơn</a>
                </div> 
            </td>
            
        </tr>
        <% }); %> 
        <% } else { %>
            <p>Chưa có sản phẩm nào</p>
        <% } %>

    </table>
    </div>
  </div>

       <!-- Thêm loader.svg vào trang HTML -->
 <div id="loader" class="loader">
    <img id="loader_page_img" src="css/loader.svg" alt="Loader">
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var dang = document.getElementById("pills-news-tab");
      var loader = document.getElementById("loader");
  
      dang.addEventListener("click", function (event) {
        event.preventDefault();
  
        loader.style.display = "flex";
  
        setTimeout(function () {
          loader.style.display = "none";
          // Xử lý dữ liệu
        }, 500);
      });
    });
  </script>