<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trang Admin Quản Lý</title>
    <link rel="shortcut icon" href="User_KH/images/logo-KTT1.ico" type="image/x-icon">

    <!-- Custom fonts for this template-->
    <link href="User_Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="User_Admin/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .pagination-container {
          display: flex;
          justify-content: center;
          margin-top: 50px;
        }
      
        .pagination {
          list-style: none;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        body {
            background: #304352;
            background: -webkit-linear-gradient(to right, #304352, #d7d2cc);
            background: linear-gradient(to right, #304352, #d7d2cc);
            /* min-height: 100vh; */
        }

            .nav-pills .nav-link {
            color: #555;
            }
            .text-uppercase {
            letter-spacing: 0.1em;
            }
      </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../partials_admin/sidebar_navbar.ejs") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("../partials_admin/header_navbar.ejs") %>
                <!-- End of Topbar -->
                

                <div class="container py-5" >                                    
                    <div class="p-5 bg-white rounded shadow mb-5">
                      <!-- Rounded tabs -->
                      <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
                        <li class="nav-item flex-sm-fill">
                          <a id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">Chưa Giao Hàng</a>
                        </li>
                        <li class="nav-item flex-sm-fill">
                          <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Đang Giao Hàng</a>
                        </li>
                        <li class="nav-item flex-sm-fill">
                          <a id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Đã Giao Hàng</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
                          <!-- <p class="text-muted">chưa giao hàng</p>
                          <p class="text-muted">chưa giao hàng</p>                           -->
                          <table class="table table-bordered">
                            <thead class="table-dark">
                              <tr>
                                <th scope="col" style="width: 20%;text-align: center;vertical-align: middle;">
                                    Mã đơn hàng/ </br> 
                                    Ngày đặt hàng
                                </th>
                                <th scope="col" style="text-align: center;vertical-align: middle;">Trạng thái</th>
                                <th scope="col" style="text-align: left;vertical-align: middle;">
                                    Số lượng /</br>TT/GTĐH 
                                    <span style="float: right;"><i title="Số lượng/Tổng tiền của sản phẩm/Giá trị đơn hàng" class="fas fa-info-circle"></i></span>
                                </th>
                                <th scope="col" style="text-align: center;vertical-align: middle;">Thao tác</th>
                              </tr>
                            </thead>
                            <tbody>
                                <!-- đơn thứ 1 -->
                                <!-- Chưa giao hàng -->
                                <% showHDChuaGiao.forEach(function(showHDChuaGiao, index) { %>  
                              <tr>
                                <th scope="row">
                                    <p style="color: blue;"><%= showHDChuaGiao._id %></p>
                                    <p><%= showHDChuaGiao.NgayLap %></p>
                                </th>
                                <td style="padding: 15px 20px;">                                    
                                    <p style="
                                        background-color: rgb(255, 234, 234);                                             
                                        padding: 10px 15px;
                                        width: 190px;
                                        border: none;
                                        color: rgb(255, 0, 0);
                                    ">
                                        <i data-status="pending" class="fas fa-shopping-cart" style="font-size: 16px; color: rgb(22, 15, 1);"></i>
                                        &nbsp;
                                        <%= showHDChuaGiao.TinhTrangDonHang %>
                                    </p>
                                    <% if (showHDChuaGiao.TinhTrangThanhToan == "Chưa Thanh Toán") { %>
                                        <span style=" padding: 10px 0 0 10px;                                                                               
                                            border: 1px solid red;
                                            color: red;
                                            border: none;
                                            font-style: italic;
                                        ">
                                            &nbsp;
                                            <i data-payment="unpaid" class="fas fa-exclamation-circle" style="font-size: 18px; color: red;"></i>
                                            &nbsp;
                                            Chưa thanh toán 
                                        </span>
                                    <% } else { %>
                                        <span style=" 
                                            padding: 10px 0 0 10px;                                                                                                                           
                                            color: rgb(18, 190, 32);
                                            border: none;
                                            font-style: italic;
                                        ">
                                            &nbsp;
                                            <i data-status="delivered" class="fas fa-check-circle" style="font-size: 18px; color: green;"></i>
                                            &nbsp;
                                            Đã thanh toán 
                                        </span>
                                    <% } %>  
                                    
                                     </br> </br>                            
                                    <p>( Phí vận chuyển: <%= formatCurrency(showHDChuaGiao.PhiShip) %> )</p>
                                </td>
                                <td>
                                    <p>Số lượng: <span style="color: rgb(0, 0, 0);"> <%= showHDChuaGiao.TongSLDat %> </span></p>
                                    <p>TT: <span style="color: rgb(0, 0, 0);"> <%= formatCurrency(showHDChuaGiao.cart.totalPrice) %>  </span></p>
                                    <p>GTĐH: <span style="color: rgb(0, 0, 0);"><%= formatCurrency(showHDChuaGiao.TongTien) %></span></p>
                                </td>
                                <td style="text-align: center;vertical-align: middle;">
                                    <form action="">
                                        <button type="submit" style="border: none; background-color: white;">
                                            <!-- Biểu tượng "edit" -->
                                            <i title="Chỉnh sửa" style="font-size: 25px; color: rgb(54, 54, 54);" class="fas fa-edit"></i>
                                        </button>                                        
                                    </form>                                    
                                    </br>   
                                    <button type="button" style="border: none; background-color: white;" onclick="toggleShowHide('<%= index %>', this)">
                                        <!-- Biểu tượng "view" -->
                                        <i id="viewIcon<%= index %>" title="Ấn vào để xem chi tiết" style="font-size: 25px; color: red; text-decoration: line-through;" class=" fas fa-eye" ></i>
                                    </button>
                                </td>
                              </tr>
                              

                              <!-- thông tin địa chỉ khách hàng và tt sản phẩm đã đặt -->
                              
                              <tr>
                                <!-- <th scope="row">3</th> -->
                                <td colspan="4">
                                    <!-- thông tin địa chỉ khách hàng -->
                                    <div style="padding: 5px 30px;">
                                        <i title="Họ Tên Khách Hàng" class="fas fa-user"></i> 
                                        <span style="color: black; font-weight: bold; padding: 5px;">
                                            <%= showHDChuaGiao.HoTen %> ( <i style="color: blue;" title="Số Điện Thoại" class="fas fa-phone"></i>  <%= showHDChuaGiao.SoDienThoai %> ) / &nbsp;
                                            <i style="color: green;" title="Địa Chỉ Chi Tiết" class="fas fa-map-marker"></i> <%= showHDChuaGiao.DiaChi_ChiTiet %> / &nbsp; 
                                            <i style="color: navy;" title="Thành Phố" class="fas fa-building"></i> <%= showHDChuaGiao.ThanhPho %> / &nbsp; 
                                            <i style="color: rgb(110, 33, 33);" title="Quốc Gia" class="fas fa-globe"></i> <%= showHDChuaGiao.QuocGia %>
                                        </span>
                                    </div>                                    
                                    <!-- end thông tin địa chỉ khách hàng -->  
                                    
                                    <!-- thông tin chi tiết sp đã đặt -->
                                    <div style="padding: 5px 30px; display: none;" id="showttsp<%= index %>">
                                        <table class="table table-bordered" style="border: 1px solid;">
                                            <thead>
                                              <tr>
                                                <th scope="col" class="table-active" style="text-align: center;vertical-align: middle;color: black; width: 500px;">Sản phẩm</th>
                                                <th scope="col" class="table-active" style="text-align: center;vertical-align: middle;color: black;">Số lượng</th>
                                                <th scope="col" class="table-active" style="text-align: center;vertical-align: middle;color: black; width: 250px;">
                                                    Thông tin vận chuyển/ </br> Người nhận hàng
                                                </th>
                                              </tr>
                                            </thead>
                                            <% showHDChuaGiao.cart.items.forEach(function(ttSPChuaGiao) { %>
                                            <tbody>

                                                <!-- sản phẩm 1 -->
                                              <tr>
                                                    <td>
                                                        <table >
                                                            <td style="padding: 0; border: none; width: 130px;">
                                                                <img style="height: 170px; width: 150px;background-color: rgb(0, 146, 44);" src="images/upload/<%= getRelativeImagePath(ttSPChuaGiao.productId.Image) %>" class="img-fluid" alt="Image">
                                                            </td>
                                                            <td style="border: none;"> 
                                                                <p style="font-size: 20px; color: black; font-weight: bold;"><%= ttSPChuaGiao.productId.TenSP %></p>  
                                                                <p style="font-size: 18px; color: rgb(151, 148, 148); ">
                                                                    Giá Bán: <span style="color: red;"> <%= formatCurrency(ttSPChuaGiao.productId.GiaBan) %></span>
                                                                </p>  
                                                            </td>
                                                        </table>
                                                    </td>
                                                    <td style="text-align: center;vertical-align: middle;"><%= ttSPChuaGiao.qty %></td>
                                                    <td style="text-align: center;vertical-align: middle;">
                                                        <p> Phí vận chuyển: <span style="color: rgb(255, 0, 0);"><%= formatCurrency(showHDChuaGiao.PhiShip) %> </span></p>
                                                        <p>Người nhận hàng: <span style="color: black;"><%= showHDChuaGiao.HoTen %></span> </p>
                                                    </td>
                                                </tr>

                                              <% }); %>
                                            </tbody>
                                          </table>
                                    </div>
                                    <!-- end thông tin chi tiết sp đã đặt -->
                                </td>
                                
                              </tr>
                              
                              <% }); %> 
                              <!-- end thông tin địa chỉ khách hàng và tt sản phẩm đã đặt -->
                                         
                                                            
                            </tbody>
                          </table>
                            
                          <!-- số trang ở đây -->
                          <nav aria-label="...">
                            <ul class="pagination">
                              <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#">&raquo;</a>
                              </li>
                            </ul>
                          </nav>

                        </div>
                        <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
                            <!-- <p class="text-muted">Đang giao hàng</p>
                            <p class="text-muted">Đang giao hàng</p> -->
                            <table class="table table-bordered">
                                <thead class="table-dark">
                                  <tr>
                                    <th scope="col" style="width: 20%;text-align: center;vertical-align: middle;">
                                        Mã đơn hàng/ </br> 
                                        Ngày đặt hàng
                                    </th>
                                    <th scope="col" style="text-align: center;vertical-align: middle;">Trạng thái</th>
                                    <th scope="col" style="text-align: left;vertical-align: middle;">
                                        Số lượng /</br>TT/GTĐH 
                                        <span style="float: right;"><i title="Số lượng/Tổng tiền của sản phẩm/Giá trị đơn hàng" class="fas fa-info-circle"></i></span>
                                    </th>
                                    <th scope="col" style="text-align: center;vertical-align: middle;">Thao tác</th>
                                  </tr>
                                </thead>
                                <tbody>                                 
                                   <!-- Đang giao hàng -->
                                  <tr>
                                    <th scope="row">
                                        <p style="color: blue;">2468086420</p>
                                        <p>2023-12-05 02:52:40</p>
                                    </th>
                                    <td>
                                        <p style="
                                            background-color: rgb(255, 217, 0);                                             
                                            padding: 5px 10px;
                                            width: 170px;
                                            border: 2px solid rgb(255, 217, 0);
                                            color: black;
                                        ">
                                            <i data-status="shipping" class="fas fa-truck" style="font-size: 16px; color: rgb(0, 0, 0);"></i>
                                            &nbsp;
                                            Đang giao hàng
                                        </p>            
                                        <span style=" 
                                            padding: 10px 0 0 10px;                                                                                                                           
                                            color: rgb(18, 190, 32);
                                            border: none;
                                            font-style: italic;
                                        ">
                                            &nbsp;
                                            <i data-status="completed" class="fas fa-check-circle" style="font-size: 18px; color: rgb(18, 190, 32);"></i>
                                            &nbsp;
                                            Đã thanh toán 
                                        </span> </br> </br>                                                                       
                                        <p>( Phí vận chuyển: 30.000đ )</p>
                                    </td>
                                    <td>
                                        <p>Số lượng: <span style="color: rgb(24, 15, 15);">18</span></p>
                                        <p>TT: <span style="color: rgb(24, 15, 15);">399.000 đ</span></p>
                                        <p>GTĐH: <span style="color: rgb(24, 15, 15);">429.000 đ</span></p>
                                    </td>
                                    <td style="text-align: center;vertical-align: middle;">
                                        <form action="">
                                            <button type="submit" style="border: none; background-color: white;">
                                                <!-- Biểu tượng "edit" -->
                                                <i title="Chỉnh sửa" style="font-size: 25px; color: rgb(54, 54, 54)" class="fas fa-edit"></i>
                                            </button>                                        
                                        </form>                                    
                                        </br>   
                                        <button type="button" style="border: none; background-color: white;" onclick="toggleShowHide('showttsp', this)">
                                            <!-- Biểu tượng "view" -->
                                            <i id="viewIcon1" title="Xem chi tiết" style="font-size: 25px; color: green;" class=" fas fa-eye" ></i>
                                        </button>                                                    
                                    </td>
                                  </tr>
    
                                  <tr>
                                    <!-- <th scope="row">3</th> -->
                                    <td colspan="4">Larry the Bird</td>
                                    
                                  </tr>
                                </tbody>
                              </table>

                              <!-- số trang ở đây -->
                            <nav aria-label="...">
                                <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">&raquo;</a>
                                </li>
                                </ul>
                            </nav>
                        </div>
                        <div id="contact" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
                            <!-- <p class="text-muted">Đã giao hàng</p>
                            <p class="text-muted">Đã giao hàng</p> -->
                            <table class="table table-bordered">
                                <thead class="table-dark">
                                  <tr>
                                    <th scope="col" style="width: 20%;text-align: center;vertical-align: middle;">
                                        Mã đơn hàng/ </br> 
                                        Ngày đặt hàng
                                    </th>
                                    <th scope="col" style="text-align: center;vertical-align: middle;">Trạng thái</th>
                                    <th scope="col" style="text-align: left;vertical-align: middle;">
                                        Số lượng /</br>TT/GTĐH 
                                        <span style="float: right;"><i title="Số lượng/Tổng tiền của sản phẩm/Giá trị đơn hàng" class="fas fa-info-circle"></i></span>
                                    </th>
                                    <th scope="col" style="text-align: center;vertical-align: middle;">Thao tác</th>
                                  </tr>
                                </thead>
                                <tbody>  
                                   <!-- Đã giao hàng -->
                                  <tr>
                                    <th scope="row">
                                        <p style="color: blue;">2468086420</p>
                                        <p>2023-12-05 02:52:40</p>
                                    </th>
                                    <td>
                                        <p style="
                                            background-color: rgb(209, 255, 209);                                             
                                            padding: 5px 10px;
                                            width: 150px;
                                            border: 2px solid  rgb(209, 255, 209);
                                            color: rgb(0, 128, 9);
                                        ">
                                            <i data-status="delivered" class="fas fa-check-circle" style="font-size: 16px; color: rgb(0, 0, 0);"></i>
                                            &nbsp;
                                            Đã giao hàng
                                        </p>            
                                        <span style=" 
                                            padding: 10px 0 0 10px;                                                                                                                           
                                            color: rgb(18, 190, 32);
                                            border: none;
                                            font-style: italic;
                                        ">
                                            &nbsp;
                                            <i data-status="delivered" class="fas fa-check-circle" style="font-size: 18px; color: green;"></i>
                                            &nbsp;
                                            Đã thanh toán 
                                        </span> </br> </br>                                                                          
                                        <p>( Phí vận chuyển: 30.000đ )</p>
                                    </td>
                                    <td>
                                        <p>Số lượng: <span style="color: rgb(24, 15, 15);">18</span></p>
                                        <p>TT: <span style="color: rgb(24, 15, 15);">399.000 đ</span></p>
                                        <p>GTĐH: <span style="color: rgb(24, 15, 15);">429.000 đ</span></p>
                                    </td>
                                    <td style="text-align: center;vertical-align: middle;">
                                        <form action="">
                                            <button type="submit" style="border: none; background-color: white;">
                                                <!-- Biểu tượng "edit" -->
                                                <i title="Chỉnh sửa" style="font-size: 25px; color:rgb(54, 54, 54)" class="fas fa-edit"></i>
                                            </button>                                        
                                        </form>                                    
                                        </br>   
                                        <button type="button" style="border: none; background-color: white;" onclick="toggleShowHide('showttsp', this)">
                                            <!-- Biểu tượng "view" -->
                                            <i id="viewIcon1" title="Xem chi tiết" style="font-size: 25px; color: green;" class=" fas fa-eye" ></i>
                                        </button>                                                         
                                    </td>
                                  </tr>
                                  <tr>
                                    <!-- <th scope="row">3</th> -->
                                    <td colspan="4">Larry the Bird</td>
                                    
                                  </tr>
                                </tbody>
                              </table>

                              <!-- số trang ở đây -->
                            <nav aria-label="...">
                                <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">&raquo;</a>
                                </li>
                                </ul>
                            </nav>
                        </div>
                      </div>
                      <!-- End rounded tabs -->
                    </div>
                </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <!-- <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer> -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn đăng xuất không?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn nút "Đăng Xuất" để xác nhận đăng xuất tài khoản.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="/dang-xuat-admin">Đăng Xuất</a>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Bootstrap core JavaScript-->
    <script src="User_Admin/vendor/jquery/jquery.min.js"></script>
    <script src="User_Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="User_Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="User_Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="User_Admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="User_Admin/js/demo/chart-area-demo.js"></script>
    <script src="User_Admin/js/demo/chart-pie-demo.js"></script>

    <script>
        function getRelativeImagePath(absolutePath) {
                const rootPath = '<%= rootPath.replace(/\\/g, "\\\\") %>';
                const relativePath = absolutePath ? absolutePath.replace(rootPath, '').replace(/\\/g, '/').replace(/^\/?images\/upload\//, '') : '';
                return relativePath;
        }
    
    
        function formatCurrency(amount) {
            return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
        }
    </script>

    <!-- (ấn vào view để hiển thị thông tin sp đã đặt) -->
    <script>    
        // Hàm để toggle show/hide của phần tử có ID 'showttsp' và thay đổi icon
        function toggleShowHide(index, iconElement) {
            var element = document.getElementById('showttsp' + index);
            console.log("element: ", element);
            if (element.style.display === 'none' || element.style.display === '') {
                element.style.display = 'block';
                // Thay đổi icon sang con mắt khi show
                iconElement.innerHTML = '<i id="viewIcon' + index + '" title="Ấn vào để thu gọn xem chi tiết" style="font-size: 25px; color: green;" class=" fas fa-eye"></i>';
            } else {
                element.style.display = 'none';
                // Thay đổi icon sang gạch chéo khi hide
                iconElement.innerHTML = '<i id="viewIcon' + index + '" title="Ấn vào để xem chi tiết" style="font-size: 25px; color: red; text-decoration: line-through;" class=" fas fa-eye"></i>';
            }
        }
    </script>
    
    

</body>

</html>