<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Liquor Store KT- Khắc Tú</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/logo-KTT1.ico" type="image/x-icon">
    
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oL7JN3KMWF6dy0wKXPsej4lM4PUn3SLDuiZJ+LUEO4A=" crossorigin="anonymous"></script>


    <style>
      .nav-item.dropdown .nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .nav-item.dropdown .dropdown-toggle {
        order: 2; /* Đặt thứ tự xuất hiện cuối cùng */
        margin-left: 5px; /* Thêm khoảng cách giữa chữ và biểu tượng */
      }




    </style>

  </head>
  <body>

    <!-- START login header -->
    <%- include('../partials/loginHeader.ejs') %>
    <!-- END login header -->

  	<!-- START nav - header -->
      <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
              <a class="navbar-brand" href="/home">Liquor <span>store KT</span></a>
  
              <!-- gio hang o day -->
              <%- include('../partials/headerGioHang.ejs') %>
      
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
              </button>
      
              <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item "><a href="/home" class="nav-link">Home</a></li>
                  <li class="nav-item" ><a href="about.html" class="nav-link">About</a></li>
                  <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle active" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sản Phẩm</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">				
                        <a class="dropdown-item" href="/search-sp">Sản Phẩm Rượu</a>
                        <!-- <a class="dropdown-item" href="product-single.html">Single Product</a>
                        <a class="dropdown-item" href="cart.html">Cart</a>
                        <a class="dropdown-item" href="checkout.html">Checkout</a> -->
                    </div>
                    </li>
                  <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
              <li class="nav-item ">
              <a class="nav-link" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i  class="fa fa-search" title="Tìm Kiếm"></i>
              </a>
              <div class="dropdown-menu" style="margin-left: 400px;" aria-labelledby="dropdown05">
                
                <%- include('../partials/searchSP.ejs') %>
      
              </div>
                    </li>
      
                </ul>
              </div>
        </div>
      </nav>
      <!-- END nav -->
      <!-- END nav - header -->

    <!-- START slide -->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="/home">Home <i class="fa fa-chevron-right"></i></a></span> <span>Cart <i class="fa fa-chevron-right"></i></span></p>
              <h2 class="mb-0 bread">Chi Tiết Giỏ Hàng</h2>
            </div>
          </div>
        </div>
      </section>
    <!-- END slide -->

    <!-- START BODY --  CT CART -->
    <section class="ftco-section">
        <% if (productDetails.length > 0) { %>
    	<div class="container">
    		<div class="row">
    			<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
                    <th>STT</th>
                    <th style="text-align: center; vertical-align: middle;">Image</th>
                    <th style="text-align: center; vertical-align: middle;">Sản Phẩm</th>
                    <th style="text-align: center; vertical-align: middle;">Giá Bán</th>
                    <th style="text-align: center; vertical-align: middle; ">Số Lượng</th>
                    <th style="text-align: center; vertical-align: middle;">Tổng Tiền</th>
                    <th style="text-align: center; vertical-align: middle;"></th>
						    </tr>
						  </thead>
                          
                          <% productDetails.forEach(function(spDetailCart, index) { %>
                            
						  <tbody>
						    <tr class="alert" role="alert">
						    	<td style="font-size: 20px;">
                    <%= index + 1 %>
						    	</td>
						    	<td>
						    		<div class="img" style="background-image: url('images/upload/<%= getRelativeImagePath(spDetailCart.productDetails.Image) %>');"></div>
						    	</td>
                                <td>
                                    <div class="email">
                                        <span><%= spDetailCart.productDetails.TenSP %></span>
                                        <span><%= spDetailCart.productDetails.MoTa %></span>
                                    </div>
                                </td>
                                <td style="font-size: 20px;"><%= formatCurrency(spDetailCart.productDetails.GiaBan) %></td>
                                <td  class="quantity">
                                    <div class="input-group" style="display: flex; justify-content: space-between;align-items: center; width: 80px; ">
                                        <!-- <span class="input-group-btn mr-2">
                                            <button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </span> -->
                                        <input disabled style="font-size: 20px;display: flex;align-items: center;justify-content: center;" type="text" id="quantity" name="quantity" class="quantity form-control input-number" value="<%= spDetailCart.qty %>" min="1" max="100">
                                        <!-- <span class="input-group-btn ml-2">
                                            <button type="button" class="quantity-right-plus btn"  data-type="plus" data-field="">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span> -->
                                       
                                    </div>
				                        </td>
				                <td style="font-size: 20px;"><%= formatCurrency(spDetailCart.productDetails.GiaBan * spDetailCart.qty ) %></td>
                                <td style="text-align: center; vertical-align: middle;"> 
                                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                    </button> -->
                                    <!-- <a 
                                        class="btn btn-success button-SUA-XOA" 
                                        href="#">UPDATE
                                    </a>    -->
                                    <!-- </br></br>           -->
                                    <form action="/delete-detail-cart" method="post" style="display: inline;">
                                        <input type="hidden" name="idARemove" value="<%= spDetailCart._id %>">
                                        <!-- <button class="btn btn-danger button-SUA-XOA" >DELETE</button> -->
                                        <button class="close" aria-label="Close" ><i class="fa fa-close"></i></button>
                                    </form>
                                </td>
						    </tr>
						   
						  </tbody>
                          <% }); %> 
                         
						</table>
					</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Tổng số giỏ hàng</h3>
    					<p class="d-flex">
    						<span>Thuế Phí</span>
    						<span>0</span>
    					</p>
    					<p class="d-flex">
    						<span>Vận Chuyển</span>
    						<span>0</span>
    					</p>
    					<p class="d-flex">
    						<span>Giảm Giá</span>
    						<span>0</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>THÀNH TIỀN</span>
    						<span style="color: red; font-size: 18px;">
                                <%= cartItemss.totalPrice !== 0 ? formatCurrency(cartItemss.totalPrice) : formatCurrency(0) %>
                            </span>
    					</p>
    				</div>
    				<p class="text-center"><a href="#" class="btn btn-primary py-3 px-4">Tiến hành kiểm tra</a></p>
    			</div>
    		</div>
    	</div>
        <% } else { %>
            <!-- Display message for an empty cart -->
            <p>Giỏ hàng trống</p>
            <p class="d-flex total-price">
                <span>THÀNH TIỀN</span>
                <span style="color: red; font-size: 18px;">
                    <%= formatCurrency(0) %>
                </span>
            </p>
        <% } %>
    </section>
    <!-- END BODY --  CT CART -->


    <!-- START footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- END footer -->
    

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script src="js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
        // rút gọn file ảnh chỉ lấy tên ảnh, ví dụ: abc.png
        function getRelativeImagePath(absolutePath) {
                const rootPath = '<%= rootPath.replace(/\\/g, "\\\\") %>';
                const relativePath = absolutePath ? absolutePath.replace(rootPath, '').replace(/\\/g, '/').replace(/^\/?images\/upload\//, '') : '';
                return relativePath;
            }

        // format tiền tệ
        function formatCurrency(amount) {
            return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
        }

        // +/- so luong
		$(document).ready(function() {
			var quantityInput = $('#quantity');

			$('.quantity-right-plus').click(function(e) {
				e.preventDefault();

				// Get the current quantity value
				var quantity = parseInt(quantityInput.val());

				// Check if quantity is a valid number
				if (!isNaN(quantity)) {
					// Increment quantity
					quantityInput.val(quantity + 1);
				} else {
					// If not a valid number, set quantity to 1
					quantityInput.val(1);
				}
			});

			$('.quantity-left-minus').click(function(e) {
				e.preventDefault();

				// Get the current quantity value
				var quantity = parseInt(quantityInput.val());

				// Check if quantity is a valid number and greater than 0
				if (!isNaN(quantity) && quantity > 0) {
					// Decrement quantity
					quantityInput.val(quantity - 1);
				} else {
					// If not a valid number or already 0, set quantity to 1
					quantityInput.val(1);
				}
			});
		});
    </script>
    
      <!-- code bắn pháo hoa - trang trí vui vui -->
      <script>

        //<![CDATA[
        
        var bits=90;var speed=33;var bangs=7;var colours=new Array("#03f","#f03","#fff","#f7efa1","#0cf","#f93","#f0c","#fff");var bangheight=new Array();var intensity=new Array();var colour=new Array();var Xpos=new Array();var Ypos=new Array();var dX=new Array();var dY=new Array();var stars=new Array();var decay=new Array();var swide=800;var shigh=600;var boddie;window.onload=function(){if(document.getElementById){var i;boddie=document.createElement("div");boddie.style.position="fixed";boddie.style.top="0px";boddie.style.left="0px";boddie.style.overflow="visible";boddie.style.width="1px";boddie.style.height="1px";boddie.style.backgroundColor="transparent";document.body.appendChild(boddie);set_width();for(i=0;i<bangs;i++){write_fire(i);launch(i);setInterval('stepthrough('+i+')',speed);}}}
        
        function write_fire(N){var i,rlef,rdow;stars[N+'r']=createDiv('|',12);boddie.appendChild(stars[N+'r']);for(i=bits*N;i<bits+bits*N;i++){stars[i]=createDiv('*',13);boddie.appendChild(stars[i]);}}
        
        function createDiv(char,size){var div=document.createElement("div");div.style.font=size+"px monospace";div.style.position="absolute";div.style.backgroundColor="transparent";div.appendChild(document.createTextNode(char));return(div);}
        
        function launch(N){colour[N]=Math.floor(Math.random()*colours.length);Xpos[N+"r"]=swide*0.5;Ypos[N+"r"]=shigh-5;bangheight[N]=Math.round((0.5+Math.random())*shigh*0.4);dX[N+"r"]=(Math.random()-0.5)*swide/bangheight[N];if(dX[N+"r"]>1.25)stars[N+"r"].firstChild.nodeValue="/";else if(dX[N+"r"]<-1.25)stars[N+"r"].firstChild.nodeValue="\\";else stars[N+"r"].firstChild.nodeValue="|";stars[N+"r"].style.color=colours[colour[N]];}
        
        function bang(N){var i,Z,A=0;for(i=bits*N;i<bits+bits*N;i++){Z=stars[i].style;Z.left=Xpos[i]+"px";Z.top=Ypos[i]+"px";if(decay[i])decay[i]--;else A++;if(decay[i]==15)Z.fontSize="10px";else if(decay[i]==7)Z.fontSize="2px";else if(decay[i]==1)Z.visibility="hidden";Xpos[i]+=dX[i];Ypos[i]+=(dY[i]+=1.25/intensity[N]);}
        
        if(A!=bits)setTimeout("bang("+N+")",speed);}
        
        function stepthrough(N){var i,M,Z;var oldx=Xpos[N+"r"];var oldy=Ypos[N+"r"];Xpos[N+"r"]+=dX[N+"r"];Ypos[N+"r"]-=4;if(Ypos[N+"r"]<bangheight[N]){M=Math.floor(Math.random()*3*colours.length);intensity[N]=5+Math.random()*4;for(i=N*bits;i<bits+bits*N;i++){Xpos[i]=Xpos[N+"r"];Ypos[i]=Ypos[N+"r"];dY[i]=(Math.random()-0.5)*intensity[N];dX[i]=(Math.random()-0.5)*(intensity[N]-Math.abs(dY[i]))*1.25;decay[i]=25+Math.floor(Math.random()*25);Z=stars[i];if(M<colours.length)Z.style.color=colours[i%2?colour[N]:M];else if(M<2*colours.length)Z.style.color=colours[colour[N]];else Z.style.color=colours[i%colours.length];Z.style.fontSize="20px";Z.style.visibility="visible";}
        
        bang(N);launch(N);}
        
        stars[N+"r"].style.left=oldx+"px";stars[N+"r"].style.top=oldy+"px";}
        
        window.onresize=set_width;function set_width(){var sw_min=999999;var sh_min=999999;if(document.documentElement&&document.documentElement.clientWidth){if(document.documentElement.clientWidth>0)sw_min=document.documentElement.clientWidth;if(document.documentElement.clientHeight>0)sh_min=document.documentElement.clientHeight;}
        
        if(typeof(self.innerWidth)!="undefined"&&self.innerWidth){if(self.innerWidth>0&&self.innerWidth<sw_min)sw_min=self.innerWidth;if(self.innerHeight>0&&self.innerHeight<sh_min)sh_min=self.innerHeight;}
        
        if(document.body.clientWidth){if(document.body.clientWidth>0&&document.body.clientWidth<sw_min)sw_min=document.body.clientWidth;if(document.body.clientHeight>0&&document.body.clientHeight<sh_min)sh_min=document.body.clientHeight;}
        
        if(sw_min==999999||sh_min==999999){sw_min=800;sh_min=600;}
        
        swide=sw_min;shigh=sh_min;}
        
        //]]>
        
      </script>
  
          <!-- <script type="text/javascript" src="https://itexpress.vn/API/files/it.snow.js"></script> -->
          <!-- <script type="text/javascript" src="https://sharethuthuat.com/php/tet/tet.js"></script> -->
          <!-- <script type="text/javascript" src="https://itexpress.vn/API/js/noel_black.js"></script>
            <script type="text/javascript" src="https://itexpress.vn/API/js/noel_red.js"></script>
            <script type="text/javascript" src="https://itexpress.vn/API/js/noel_yellow.js"></script>-->
  </body>
</html>